.property-form {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-around;
    margin: 1rem;
}

.label-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.btn-outline-dark{
    align-self: center;
}