.dark-button{
    align-self: center;
    background-color: #FFF8E4;
}

.login-form {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-around;
    margin: 1rem;
    background-color: #a4b6dd;
    width: 20vw;
    padding: 1rem;
    border-radius:1rem;
}

.property {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 15vw;
    padding: 1rem;
    font-weight: bold;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-text {
    color: red;
    font-weight: bold;
}